torch
transformers
tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-cpp
tree-sitter-c-sharp
tree-sitter-typescript
timeout-decorator
scikit-learn
rank-bm25
fuzzywuzzy
nltk
sacrebleu
tiktoken
vllm>=0.3.3
